body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    /* background-color: rgb(241, 241, 241); */
    margin: 0;
}
/* *{
    padding: 0;
    margin: 0;
} */
/* .container{
    width: 80%;
    margin: 0 auto;
} */
.header-container{
    margin: 10px 0;
}
.flex-container{
    display: flex;
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    align-items: center !important;
    -ms-flex-align: center !important;
    justify-content: space-between  !important;
    -ms-flex-pack: justify !important;
}
.logo-wrapper{
    font-size: 2em;
    /* padding-top: 0.5em; */
    font-weight: inherit;
}
.logo-wrapper a{
    text-decoration: none;
    color: #000;
}

/* #menu-checkbox{
    display: none;
} */
.nav-container{
    background-color: #e0f3fc;
}
.nav-menu{
    display: flex;
    display: -ms-flexbox;
    /* align-items: center !important; */
    justify-content: space-around;
    -ms-flex-pack: distribute;
    /* flex-wrap: wrap; */
    padding: 0;
    margin: 0;
    height: 3em;
    width: 100%;
}
.nav-menu li{
    list-style: none;
    height: 4em;
    position: relative;
    bottom: 0.5em;
    display: flex;
    display: -ms-flexbox;
    align-items: center !important;
    -ms-flex-align: center !important;
    /* background: #ffd649; */
}
.nav-item a{
    text-decoration: none;
    color: #015a8d;
    height: 100%;
    display: flex;
    display: -ms-flexbox;
    align-items: center !important;
    -ms-flex-align: center !important;
}
.nav-item a:hover{
    color: #000;
}
.nav-item:hover{
    background: #ffd649;
}
.nav-item-text{
    text-align: center;
    padding: 0 8px;
    /* font-size: 1em; */
    /* display: block; */
}
.nav-title{
    display: none;
}
.icon-container{
    height: 100%;
}
.menu-icon {
    display: none;
    width: 42px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin: 10px 0;
}
.menu-icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #3f3f3f;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.menu-icon span:nth-child(1) {
    top: 0px;
}
.menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
    top: 12px;
}
.menu-icon span:nth-child(4) {
    top: 24px;
}
.nav-container.menu_state_open .menu-icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.nav-container.menu_state_open .menu-icon span:nth-child(2) {
    transform: rotate(45deg);
}
.nav-container.menu_state_open .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
}
.nav-container.menu_state_open .menu-icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.nav-container.menu_state_open .nav-menu {
    display: block;  
}
.nav-container.menu_state_open .nav-title {
    display: none;
}

.main-container{
    margin-top: 20px;
    font-weight: 300;
    color: #000;
}
.section-container{
    margin-bottom: 20px;
}
.ref-text{
    text-decoration: none;
    /* text-decoration-style: dotted; */
    color: #005281;
}
.ref-text:hover{
    text-decoration: underline;
    color: inherit;
}
.target-action{
    text-decoration: none;
    color: inherit;
    background-color: #ffd649;
    padding: 0 4px;
    /* width: 100%; */
}
.target-action:hover{
    font-weight: bolder;
}
.target-action:visited{
    color: inherit;
}
.target-action:active{
    color: red;
}
.main-carousel{
    padding-top: 1em;
}
.main-carousel img{
    width: 100%;
}
h2{
    font-size: 1em;
    text-align: center;
}
.news-card-container{
    /* padding: 0; */
    padding-bottom: 30px;
}
.news-card{
    border: 1px solid #000;
    height: 100%;
    /* margin: 10px; */
    padding: 10px;
    background-color: #fff;
}
.news-card img{
    width: 100%;
}
.news-card p{
    margin: 0;
    font-size: 0.9em;
    /* line-height: 1.1em; */
}
/* .news-card a{
    text-decoration: none;
    color: #015a8d;
} */

.footer-container{
    background-color: #3f3f3f;
    font-weight: 300;
    font-size: 0.9em;
    color: #fff;
    padding: 30px 30px 20px 30px;
}
.footer-container p{
    margin: 0;
    text-align: center;
}
.footer-links a{
    text-decoration: none;
    color: #fff;
    line-height: 1.3;
}
.footer-links a:hover{
    text-decoration: underline;
}
.footer-links{
    margin-bottom: 20px;
}
.soclogo-cont{
    padding: 0;
    margin-bottom: 20px;
}
/* .soclogo-cont a{ */
.soc-logo{
    text-decoration: none;
}
.soc-logo img{
    width: 25%;
    margin-right: 5%;
    border: 0;
}
.soc-logo img.logo-2{
    display: none;
}
.soc-logo:hover img.logo-2{
    display: inline;
}
.soc-logo:hover img.logo-1{
    display: none;
}

/* .text-center{
    text-align: center;
} */

@media screen and (max-width: 992px) {
    .nav-item-text{
        font-size: 18px;
    }
    .main-section{
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .header-container{
        margin: 0;
    }
    .main-container{
        margin-top: 0;
    }
    .header-container h1{
        font-size: 1.5em;
    }
    .nav-menu{
        display: none;
        height: auto;
        width: auto;
    }
    .nav-menu li{
        height: auto;
        position: inherit;
        display: block;
    }
    .act-item{
        display: none !important;
    }    
    .nav-item{
        margin: 10px 0;
        /* padding-right: 20px; */
        text-align: right;
    }
    .nav-item-text{
        padding: 0;
        text-align: right;
    }
    .nav-menu a{
        height: auto;
        /* width: auto; */
        display: block;
    } 
    .nav-item a:hover{
        text-decoration: underline;
        color: #015a8d;
    }
    .nav-item:hover{
        background: transparent;
    }
    .menu-icon{
        display: block; 
    }
    .nav-title{
        display: block;
    }
    /*.toggle-button{
        float: right;
        cursor: pointer;
        color: #000;
    }
    .toggle-button::after{
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .nav-menu{
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button::after{
        content: attr(data-close);
    }*/
}