# игнорировать все .jpg* (в т.ч. .jpg.webp) в каталоге photo/ 
public_html/photo/*.jpg*
# node.js
node_modules/
# builded
public_html/wp-content/themes/excursions/assets/
public_html/wp-content/themes/excursions/map/

