
.gallery-item{
    margin-bottom: 2em;
}
.gallery-item figure{
    text-align: center;
}
.gallery-item figcaption{
    width: 90%;
    /* text-align: center; */
    color: #3f3f3f;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .gallery-item figcaption{
        width: 100%;
    }
}
.gallery-item a:focus{
    outline: none;
}
.gallery-item a:focus img{
    outline: auto 5px;
}

.pre-gallery{
    margin: 1em 0;
    display: flex;
    display: -ms-flexbox;
}
.pre-gallery img{
    width: 100%;
    height: auto;
}
.pre-gallery figcaption{
    font-size: 0.8em;
}

.post-gallery{
    margin-top: 1em;
}
/* .post-gallery img{ */
.post-gallery img{
    width: 70%;
    height: auto;
    /* margin: 0 auto; */
    /* display: block; */
}
@media (max-width: 1200px) {
    .post-gallery img{
        width: 80%;
    }
}
/* @media (max-width: 992px) {
    .post-gallery img {
        width: 80%;
    }
} */
@media (max-width: 768px) {
    .post-gallery img{
        width: 90%;
    }
}
@media (max-width: 576px) {
    .post-gallery img{
        width: 100%;
    }
}
.post-gallery figcaption{
    font-size: 0.9em;
    margin-top: 8px;
}
